{% import "macros/prose.html" as macros %}
{% extends "_base.html" %}

{% block page %}prose-page{% endblock page %}
{% block lang -%}
{%- if section.extra.lang %}{{section.extra.lang}}{% else %}{{section.lang}}{% endif -%}
{%- endblock lang %}
{% block title %}{{ section.title }}{% endblock title %}
{% block desc %}
  {% if section.description %}
    {% set desc = section.description %}
  {% else %}
    {% set desc = config.description %}
  {% endif %}
  <meta name="description" content="{{ desc }}">
{% endblock desc %}

{% block head %}
{% if config.markdown.highlighting.style == "class" %}
<link id="hl" rel="stylesheet" type="text/css" href="/giallo-{% if config.extra.force_theme == "dark" %}dark{% else %}light{% endif %}.css" />
{% endif %}
{% if section.extra.math %}
<script>
  window.MathJax = {
    loader: {load: ['[tex]/amscd']},
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      macros: {br: '\\\\'},
      packages: {'[+]': ['amscd']},
      tags: 'ams'
    },
    svg: {
      fontCache: 'global'
    }
  };
  for (var oper of ['id', 'im', 'tr', 'coker', 'Hom', 'End', 'Aut', 'Ext', 'Tor',
    'Gal', 'Spec', 'Spf', 'ker', 'coim', 'colim', 'Ob', 'Mor']) {
    MathJax.tex.macros[oper] = '\\operatorname{' + oper + '}';
  }
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
{% endif %}
{% if section.extra.tikz %}
<link rel="stylesheet" type="text/css" href="https://tikzjax.com/v1/fonts.css">
<script src="https://tikzjax.com/v1/tikzjax.js"></script>
{% endif %}
{% endblock head %}

{% block content %}
<div id="wrapper">
  <main>
    {{ macros::back_link(path = get_url(path="/")) }}
    {% include "_section_title.html" %}
    <div>
      {% if section.extra.copy %}
      {% set copy_icon = load_data(path="icon/copy.svg") %}
      {% set check_icon = load_data(path="icon/check.svg") %}
      <div id="copy-cfg" style="display: none;" data-copy-icon="{{ copy_icon }}" data-check-icon="{{ check_icon }}"></div>
      {% endif %}
      <article class="prose">
        {{ section.content | safe }}
      </article>

      {% if section.extra.reaction is defined %}{% set show_reaction = section.extra.reaction %}{% else %}{% set show_reaction = config.extra.reaction %}{% endif %}
      {% if show_reaction %}
      <div class="reaction {{ config.extra.reaction_align }}" data-endpoint="{{ config.extra.reaction_endpoint }}"></div>
      {% endif %}

      {% if section.extra.comment %}
      <div class="giscus"></div>
      {% include "_giscus_script.html" %}
      {% endif %}
    </div>

    {% include "_footer.html" %}
  </main>
</div>
{% endblock content %}

{% block script %}
<script src="/js/lightense.min.js"></script>
{% if section.extra.mermaid %}
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
  mermaid.initialize({ startOnLoad: true });
</script>
{% endif %}
{% endblock script %}
